* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --background-color: #ffffff;
    --text-color: #0D1317;
    --off-pink: #ffdab9;
    --red: red;
    --green: green;
}

body {
    color: var(--text-color);

}


/* Input */
div {
    align-items: center;
    margin: 3rem 0rem 0rem 30rem;

}

.input {
    display: flex;

    height: 20rem;
    width: 40rem;
}