* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --background-color: #ffffff;
    --text-color: #0D1317;
    --off-pink: #ffdab9;
    --red: red;
    --green: green;
}

body {
    color: var(--text-color);
}

/* Input */

/* div {
    align-items: center;
} */

.lift {
    /* display: flex; */
}

.input {
    display: flex;
    height: 5rem;
}

/* Lifts */

p.solid {
    border-style: solid;
    width: 95vw;
    height: 20vh;
    padding: 20px 0px 0px 20px;
}